:root {
    --destacado: #01C38D;
    --back-oscuro: #191E29;
    --back-medio: #132D46;
    --gris: #696E79;
    --blanco: #FFFFFF;
    --font-principal: 'Encode Sans', sans-serif;
    --font-secundaria: 'Quicksand', sans-serif;

}

* {
    border: none;
    /* padding: 0;
    margin: 0; */
    /* font-family: 'Quicksand', sans-serif; */
    /* font-family: 'Encode Sans', sans-serif; */
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    color: var(--blanco);
}

header.sticky{
  background-color: var(--blanco)
}


.titulo {
  font-family: var(--font-principal);
}

.subtitulo {
  font-family: var(--font-secundaria);
}

.texto-destacado {
  color: var(--destacado);
}

#hero {
    background-image: url("/images/fullstack-min.jpg");
    background-image: linear-gradient(rgba(0,0,0,0.5), var(--back-medio)), url("/images/fullstack-min.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
  }

a, a:visited {
    color: inherit !important;
}

body {
    background-image: linear-gradient(to bottom right, var(--back-oscuro), var(--back-medio));
    height:100%;
}



.bg-nav {
    background-image: linear-gradient(to top right, var(--back-medio), var(--back-oscuro));
}

.avatar {
  background-image: linear-gradient(to bottom left, var(--back-medio), var(--back-oscuro));
  border: 3px solid var(--destacado);
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: none;
}

.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
    background-color: var(--destacado);
    /* transition: 0.2s */

    }
    
.navbar-toggler .middle-bar {
        opacity: 0;
        filter:alpha(opacity=0);
    }
    
.navbar-toggler .bottom-bar {
        transform: rotate(-45deg);
        transform-origin: 10% 10%;
        background-color: var(--destacado);
        /* transition: 0.2s */

    }
    
.navbar-toggler.collapsed .top-bar {
        transform: rotate(0);
        background-color: var(--blanco)
    }

.navbar-toggler.collapsed:hover > span {
        transform: rotate(0);
        background-color: var(--destacado);
        box-shadow: 0px 0px 12px var(--destacado);
    }
    
.navbar-toggler.collapsed .middle-bar {
        opacity: 1;
        filter: alpha(opacity=100);
        transition: 0.2s;
    }
    
.navbar-toggler.collapsed .bottom-bar {
        transform: rotate(0);
        background-color: var(--blanco);
    }

li.nav-item:hover,
li.nav-item:hover > ion-icon {
    color: var(--destacado);
}

.toggler-icon {
    width: 30px;
    height: 3px;
    border-radius: 6px;
    background-color: var(--blanco);
    display: block;
    transition: all 0.2s;
}


.middle-bar {
    margin: 5px auto;
}

ion-icon {
    color: var(--blanco);
    margin: 0 5px 0 0;
}

.col-sm-4 {
    text-align: center;
}

.row.g-3 {
    display: flex;
    align-items: center;
}


.flex-wrapper {
    display: flex;
    flex-flow: row nowrap;
  }
  
  .single-chart {
    width: 33%;
    justify-content: space-around ;
  }
  
  .circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 250px;
  }
  
  .circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
  }
  
  .circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
  }
  
  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }
  
  .circular-chart.orange .circle {
    stroke: #ff9f00;
  }
  
  .circular-chart.green .circle {
    stroke: #4CC790;
  }
  
  .circular-chart.blue .circle {
    stroke: #3c9ee5;
  }
  
  .percentage {
    fill: var(--blanco);
    font-family: inherit;
    font-size: 0.3em;
    text-anchor: middle;
  }

  .card {
    background-image: linear-gradient(to bottom, var(--back-oscuro), var(--back-medio));
    border: 1px solid var(--back-oscuro);
    border-radius: 6px;
    margin-bottom: 12px;
  }


.modal-header {
    text-align: center
}
.modal-content {
    background: var(--back-oscuro);
    border: var(--destacado);
}

.btn-primary {
    background-image: linear-gradient(to bottom right, var(--destacado), var(--back-medio));
    border: none;
}